.advantage {
    &__bridge {
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }
    &__number {
        display: block;
        text-align: center;
        margin-bottom: 18px;
    }
    &__component {
        color: $tc;
        padding-top: 28px;
        @media screen and (min-width: 768px) {
            width:33%;
            padding-top: 0;
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    &__city::before,
    &__city::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 12px solid $blue;
        top: -11px;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__city::after {
        border-left: 160px solid transparent;
        right: 0;
    }
    &__city::before {
        left: 0;
        border-right: 160px solid transparent;
    }
    &__city {
        position: relative;
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }
    &__wrapper {
        background-color: $adb;
        padding: 30px 20px;
        @media screen and (min-width: 768px) {
            display:flex;
            padding: 47px 0;
        }
    }
    &__component:first-child {
        padding-top: 0;
    }
}