.bridge {
    &__title {
        font: {
            size: 18px;
            family: $general-font;
            weight: bold;
        }
        line-height: 1.4;
        text-transform: uppercase;
        margin-bottom:11px;
    }
    &__content {
        font: {
            size: 14px;
            family: $general-font;
        }
        line-height: 1.5;
        text-transform: uppercase;
    }
    &__text {
        background-color: $blue;
        text-align: center;
        padding: 38px 20px;
    }
    &__img {
        vertical-align: top;
    }
}