.burger {
    &__line {
        width: 23px;
        height: 4px;
        display: block;
        background-color: $blue;
    }
    &__line::before,
    &__line::after {
        position: absolute;
        content: "";
        width: 23px;
        height: 4px;
        background-color: $blue;
    }
    &__line::before {
        top: 2px;
        left: 0;
    }
    &__line::after {
        top: 16px;
        left: 0;
    }
}