.city {
    &__title {
        font: {
            size: 18px;
            family: $general-font;
            weight: bold;
        }
        line-height: 1.4;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__content {
        font: {
            size: 14px;
            family: $general-font;
        }
        line-height: 1.5;
        text-transform: uppercase;
    }
    &__text {
        background-color: $blue;
        text-align: center;
        padding: 41px 20px;
        color: $white;
    }
    &__img {
        vertical-align: top;
    }
    &__perspective {
        list-style: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 52px;
        padding-top: 26px;
    }
}