.component {
    &__title {
        font: {
            family: $general-font;
            size: 18px;
            weight: bold;
        }
        line-height: 1.4;
        color: $black;
        margin-bottom: 11px;
        text-align: center;
        @media screen and (min-width:768px) {
            font-size: 21px;
            line-height: 1.2;
        }
    }
    &__text {
        font: {
            family: $general-font;
        }
        border-bottom: 1px solid $border;
        text-align: center;
        line-height: 1.5;
        padding-bottom: 26px;
        @media screen and (min-width:768px) {
            border: none;
            padding-bottom: 0;
        }
    }
    &__text--without-line {
        border-bottom: none;
    }
}