.intro {
    &__description--main {
        font: {
            size: 18px;
            family: $general-font;
            weight: bold;
        }
        line-height:1.4;
        color: $black;
        margin-bottom: 29px;
        @media screen and (min-width: 768px) {
            font-size: 21px;
            line-height: 1.2;
        }
    }
    &__description {
        text-align: center;
        padding-bottom: 85px;
        position: relative;
        z-index: 3;
        @media screen and (min-width: 768px) {
            padding:50px 0;
        }
    }
    &__description--additional {
        font: {
            family: $general-font;
        }
        line-height: 1.9;
        color: $tc;
    }
    &__greeting {
        background-image: url("img/text.svg"), url("img/back-mobile.jpg");
        background-repeat: no-repeat, no-repeat;
        background-size: auto, cover;
        background-position: 50% 50%, 0 0;
        min-height: 388px;
        position: relative;
        @media screen and (min-width: 768px) {
            background-image: url("img/text-td.svg"), url("img/back-t.jpg");
            min-height: 515px;
        }
        @media screen and (min-width:1280px) {
            background-image: url("img/text-td.svg"), url("img/back-d.jpg");
        }
    }
    &__greeting::before,
    &__greeting::after {
        position: absolute;
        content: "";
        width: 55%;
        height: 20px;
        bottom: 0;
        padding: 25px;
        background-color: $white;
        z-index: 2;
    }
    &__greeting::after {
        right: 0;
        transform-origin: bottom right;
        transform: skewY(-7deg);
    }
    &__greeting::before {
        left: 0;
        transform-origin: bottom left;
        transform: skewY(7deg);
    }
    &__description::before,
    &__description::after {
        position: absolute;
        content: "";
        width: 55%;
        height: 20px;
        bottom: 0;
        padding: 25px;
        background-color: $blue;
        z-index: 2;
        @media screen and (min-width:768px) {
            display: none;
        }
    }
    &__description::after {
        right: 0;
        transform-origin: bottom right;
        transform: skewY(-7deg);
    }
    &__description::before {
        left:0;
        transform-origin: bottom left;
        transform: skewY(7deg);
    }
}