.intro {
    &__description--main {
        font: {
            size: 18px;
            family: $general-font;
            weight: bold;
        }
        line-height:1.4;
        color: $black;
        margin-bottom: 29px;
        @media screen and (min-width: 768px) {
            font-size: 21px;
            line-height: 1.2;
        }
    }
    &__description {
        text-align: center;
        text-transform: uppercase;
        padding: 40px 20px;
        @media screen and (min-width: 768px) {
            padding:50px 60px;
        }
    }
    &__description--additional {
        font: {
            size: 14px;
            family: $general-font;
        }
        line-height: 1.9;
        color: $tc;
    }
    &__title {
        background-image: url("img/text-index.svg"), url("img/back-mobile.jpg");
        background-repeat: no-repeat, no-repeat;
        background-position: 50% 50%, 0 0;
        min-height: 389px;
        position: relative;
        z-index: -999;
        @media screen and (min-width: 768px) {
            background-image: url("img/intro-triangle.svg"), url("img/text-index.svg"), url("img/back-desktop.jpg");
            background-size: auto, 440px, 768px;
            min-height: 520px;
            background-position: bottom, 50% 50%, 0 0;
        }
    }
    &__title::before,
    &__title::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 27px solid $white;
        bottom: -1px;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__title::after {
        border-left: 160px solid transparent;
        right: 0;
    }
    &__title::before {
        left: 0;
        border-right: 160px solid transparent;
    }
}