.main-content {
    &__search {
        margin-bottom: 48px;
        @media screen and (min-width: 768px) {
            width:455px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 55px;
        }
    }
    &__theme {
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
            margin-bottom:55px;
        }
    }
    &__rubric {
        list-style: none;
        padding: 38px 16px;
        @media screen and (min-width: 768px) {
            display:flex;
            padding: 65px 0;
        }
    }
    &__map {
        font-size: 0
    }
}