.main-content {
    &__search {
        margin-bottom: 50px;
        @media screen and (min-width: 768px) {
            width:455px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 55px;
        }
    }
    &__theme {
        margin-bottom: 26px;
        @media screen and (min-width: 768px) {
            margin-bottom:55px;
        }
    }
    &__rubric {
        list-style: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 28px;
        padding-bottom: 36px;
        @media screen and (min-width: 768px) {
            display:flex;
            padding: 61px 0;
        }
    }
    &__map {
        font-size: 0
    }
}