.menu {
    &__list {
        list-style: none;
        font: {
            size: 18px;
            family: $general-font;
            weight: bold;
        }
        text-transform:uppercase;
        line-height:2.3;
        display: flex;
        flex-direction: column;
        @media screen and (min-width:768px) {
            flex-direction: row;
            font-size: 14px;
            line-height: 1.9;
            align-items: center;
        }
    }
    &__item {
        background-color: $blue;
        text-align: center;
        padding: 6px 0;
        border-bottom: 1px solid $gray-menu;
        border-top: 1px solid $bm;
        @media screen and (min-width: 768px) {
            width: 20%;
            background-color: $white;
            border: none;
        }
    }
    &__link {
        text-decoration: none;
        color: $white;
        @media screen and (min-width: 768px) {
            color: $black;
        }
    }
    &__link:hover {
        text-decoration: underline;
    }
    &__item--logo {
        border-top: none;
        padding: 0;
        background-color: $white;
        border-bottom: none;
        height: 55px;
        box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.2);
        @media screen and (min-width: 768px) {
            order: 2;
            box-shadow: none;
        }
    }
    &__item:nth-child(3) {
        @media screen and (min-width: 768px) {
            order: 3;
        }
    }
    &__item:nth-child(4) {
        border-bottom: none;
        @media screen and (min-width: 768px) {
            order: 4;
        }
    }
    &__item:first-child {
        border-top: none;
    }
}