.menu {
    &__list {
        list-style: none;
        font: {
            size: 18px;
            family: $general-font;
            weight: bold;
        }
        text-transform:uppercase;
        line-height:2.3;
    }
    &__item {
        background-color: $blue;
        text-align: center;
        padding: 6px 0;
        border-bottom: 1px solid $gray-menu;
        border-top: 1px solid $bm;
    }
    &__link {
        text-decoration: none;
        color: $white;
    }
    &__cross {
        width: 32px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        outline: none;
        top: 9px;
        right: 15px;
    }
    &__link:hover {
        text-decoration: underline;
    }
    &__burger {
        width: 23px;
        height: 21px;
        position: absolute;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        outline: none;
        right: 19px;
        bottom: -37px;
    }
}