.page-header {
    &__menu {
        position: relative;
    }
    &__btn {
        position: absolute;
        right: 15px;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__btn--cross {
        width: 32px;
        height: 32px;
        top: 9px;
    }
    &__btn--cross::before,
    &__btn--cross::after {
        content: "";
        position: absolute;
        width: 27px;
        height: 5px;
        right: 3px;
        top: 13px;
        background-color: $white;
        @media screen and (min-width: 768px) {
            display:none;
        }
    }
    &__btn--cross::before {
        transform: rotate(45deg);
    }
    &__btn--cross::after {
        transform: rotate(-45deg);
    }
    &__btn--burger {
        width: 23px;
        height: 23px;
        top: 233px;
    }
}