.page-header {
    &__menu {
        position: relative;
    }
    &__menu::before,
    &__menu::after {
        content: "";
        position: absolute;
        width: 35px;
        height: 5px;
        right: 10px;
        top: 18px;
        background-color: $white;
    }
    &__menu::after {
        transform: rotate(-45deg);
    }
    &__menu::before {
        transform: rotate(45deg);
    }
    &__logo {
        position: relative;
        min-height: 55px;
        box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.20 );
    }
}