.page-footer {
    padding-top: 34px;
    padding-bottom: 22px;
    &__hashtag {
        text-align: center;
        font: {
            size: 21px;
            family: $general-font;
            weight: bold;
        }
        line-height:1.2;
        color:$black;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
    &__social {
        text-align: center;
        margin-bottom: 37px;
    }
    &__copyright {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}