.search {
    &__question {
        font: {
            size: 21px;
            family: $general-font;
            weight: bold;
        }
        line-height: 1.2;
        text-align: center;
        margin-bottom: 21px;
        color:$black;
        @media screen and (min-width:768px) {
            font-size: 30px;
            line-height: 0.9;
            margin-bottom: 35px;
        }
    }
    &__text {
        font: {
            family: $general-font;
        }
        text-align: center;
        line-height: 1.7;
        margin-bottom: 37px;
        color:$tc;
        padding:0 20px;
        @media screen and (min-width:768px) {
            padding: 0;
            margin-bottom: 41px;
        }
        @media screen and (min-width: 1280px) {
            margin-bottom: 46px;
        }
    }
    &__btn {
        padding-top: 16px;
        padding-bottom: 16px;
        width: 280px;
        background-color: $blue;
        display: block;
        text-align: center;
        color: $white;
        text-decoration: none;
        line-height: 1.2;
        margin-left: auto;
        margin-right: auto;
        font: {
            size: 21px;
            weight: bold;
            family: $general-font;
        }
        @media screen and (min-width:768px) {
            width: 455px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__text--new-line {
        @media screen and(min-width: 768px) {
            display: block;
        }
    }
    &__modal {
        position: absolute;
        box-sizing: border-box;
        background: $blue;
        left: 50%;
        height: 200px;
        width: 300px;
        margin-left: -150px;
        top: 50px;
        visibility: hidden;
        opacity: 0;
        transition: visibility, opacity, .5s;
        @media screen and (min-width: 768px) {
            width:500px;
            height: 300px;
            top: 60px;
            margin-left: -250px;
        }
    }
}