.square {
    &__title {
        font: {
            family: $general-font;
            size: 18px;
            weight: bold;
        }
        line-height: 1.4;
        color: $black;
        text-transform: uppercase;
        margin-bottom: 11px;
        text-align: center;
        padding-top: 28px;
    }
    &__text {
        font: {
            family: $general-font;
            size: 14px;
        }
        text-transform: uppercase;
        border-bottom: 1px solid $border;
        text-align: center;
        line-height: 1.5;
        padding-bottom: 26px;
    }
}