.triangle {
    &::before,
    &::after {
        @media screen and (min-width: 768px) {
            width: 45%;
            height: 190px;
            position: absolute;
            content: "";
            bottom: 0;
            background: $white;
            z-index: 3;
        }
    }
    &::before {
        @media screen and (min-width: 768px) {
            left: 10%;
            transform-origin: bottom left;
            transform: skewY(10deg)
        }
    }
    &::after {
        @media screen and (min-width: 768px) {
            right: 10%;
            transform-origin: bottom right;
            transform: skewY(-10deg);
        }
    }
}