.triangle {
    position: relative;
    &::before,
    &::after {
        @media screen and (min-width: 768px) {
            width: 47%;
            height: 72px;
            position: absolute;
            content: "";
            bottom: 0;
            background: $white;
            z-index: 3;
        }
    }
    &::before {
        @media screen and (min-width: 768px) {
            left: 4%;
            transform-origin: bottom left;
            transform: skewY(7deg)
        }
    }
    &::after {
        @media screen and (min-width: 768px) {
            right: 4%;
            transform-origin: bottom right;
            transform: skewY(-7deg);
        }
    }
}