@font-face {
    font-family: 'PTSans';
    src: url("../fonts/PTSansRegular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans';
    src: url("../fonts/PTSansBold.woff2") format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'PTSans';
    src: url("../fonts/PTSansItalic.woff2") format('woff2');
    font-style: italic;
}